.orgName {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 132%;
    /* identical to box height, or 32px */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #12121F;
    flex-direction: row;
}