.container {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.icon-container {
    display: flex;
    flex-direction: column;
}

.repositoryName {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.visibilityStatus {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.protectionStatus {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.sharedStyle {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    margin-left: 15px;
}